packages:
  yum:
    ImageMagick: []
    openssl-devel: []
sources:  
  /home/ec2-user: https://s3-us-west-2.amazonaws.com/ga-cookbooks/ghostscript.tgz

commands:
  01-move-old-gs:
    command: "mv /usr/bin/gs /usr/bin/gs_old"
  02-move-gs:
    command: "mv /home/ec2-user/ghostscript-9.19-linux-x86_64/gs-919-linux_x86_64 /usr/bin/gs"